@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Medium.woff') format('woff');        ,
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Roboto', cursive;
}

body {
    background-color: #dddddd ;
}



.head-section {
    display: block;
    width: 100%;
    height: 200px;
    background-color: #d32f2f;
    color: white;
    margin-top: 40px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.head-section h1, p {
    text-align: center;
}

.head-section p {
    margin: 0px;
}

.preload-section {
    background: white;
    position: absolute;
    left: 50%;
    top: 210px;
    transform: translate(-50%, -50%);
    background: transparent;
}

.circle {
    color:white;
}

.tick {
    display: none;
    color: white;
}

.msg-container {
    display: block;
    height: 40px;
    text-align: center;
    font-size: 30px;
    color: #747474;
    background: white;
    transition-duration: 2s;
    transition-timing-function: linear;
}

.square {
    height: 20vh;
    border: 10px solid white;
}

